 
body{
   margin:0 10vw;
   width: auto;
   padding: 10px;
}

#titleBanner{
   width:100%;
}
#titleEmail{
   font-size: 3vw;

   display: flex;
   justify-content: center;
}

#nameTitle{
   font-size: 5vw;

   display: flex;
   justify-content: center;
}
#links{
   display: flex;
   justify-content: center;
   margin:5%;
}
#icon img{
   width:30px;
   height: auto;
   margin:0 0.2vw;
}

#mainContent{

   width:80%;


}

a {
   text-decoration: none;
 }

.sectionTitle{
   font-size:40px;
}

.innerSection{
   background-color: lightgrey;
}
.innerSection #textSection #sectionTitle{
   font-size:30px;
}

.innerSection #textSection{
   font-size:15px;
}
.innerSection #imgSection img{
   width:auto;
   height:100%;

}
.innerSection #imgSection{
   display: flex;
   justify-content: center;
}
