 
 .body{
   margin:0;
   padding:0;
 }
 .titleBanner{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
 }

 .titleBanner h1{
   font-size:400%;
 }
 .titleBanner p{
   font-size:150%;
 }



 /* Colours */

 /* Background */

 .is-primary{
   background-color: rgb(109, 209, 209);
 }
