 
body{
   width: 80%;
   margin: auto;
   width: 50%;
   padding: 10px;
}

#titleBanner{
   width:100%;
}

#nameTitle{
   font-size: 5vw;

   display: flex;
   justify-content: center;
}
#links{
   display: flex;
   justify-content: center;
}

#mainContent{
   width:80%;

}

#icon img{
   width:3vw;
   height: auto;
   margin:0 0.2vw;
}


.sectionTitle{
   font-size:40px;
}

.innerSection{

   background-color: lightgrey;
}
.innerSection #textSection #sectionTitle{
   font-size:30px;
}

.innerSection #textSection{
   font-size:15px;
}
